/*include-file: lxp/csod-icons.css*/
/*version: 1.01*/
@font-face {
  font-family: 'CSOD-Icons';
  src:
    url('fonts/CSOD-Icons.woff2?6pefdw') format('woff2'),
    url('fonts/CSOD-Icons.ttf?6pefdw') format('truetype'),
    url('fonts/CSOD-Icons.woff?6pefdw') format('woff'),
    url('fonts/CSOD-Icons.svg?6pefdw#CSOD-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="p-icon-"], [class*=" p-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CSOD-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-icon-alert-round-1:before {
  content: "\e900";
}
.p-icon-alert-round-2:before {
  content: "\e901";
}
.p-icon-alert-triangle:before {
  content: "\e902";
}
.p-icon-bell:before {
  content: "\e903";
}
.p-icon-bin:before {
  content: "\e904";
}
.p-icon-button:before {
  content: "\e905";
}
.p-icon-calendar:before {
  content: "\e906";
}
.p-icon-cart:before {
  content: "\e907";
}
.p-icon-check:before {
  content: "\e908";
}
.p-icon-clock:before {
  content: "\e909";
}
.p-icon-cross:before {
  content: "\e90a";
}
.p-icon-down-arrow-bar:before {
  content: "\e90b";
}
.p-icon-down-triangle:before {
  content: "\e90c";
}
.p-icon-expand:before {
  content: "\e90d";
}
.p-icon-gear:before {
  content: "\e90e";
}
.p-icon-horizontal-stroke:before {
  content: "\e90f";
}
.p-icon-horizontal-three-lines:before {
  content: "\e910";
}
.p-icon-house:before {
  content: "\e911";
}
.p-icon-information:before {
  content: "\e912";
}
.p-icon-location:before {
  content: "\e915";
}
.p-icon-lock:before {
  content: "\e916";
}
.p-icon-magnifying-glass:before {
  content: "\e917";
}
.p-icon-papers:before {
  content: "\e918";
}
.p-icon-pencil:before {
  content: "\e919";
}
.p-icon-person:before {
  content: "\e91a";
}
.p-icon-phone-export:before {
  content: "\e91b";
}
.p-icon-right-cursor:before {
  content: "\e91c";
}
.p-icon-star:before {
  content: "\e91d";
}
.p-icon-three-dots:before {
  content: "\e91f";
}
.p-icon-three-lists:before {
  content: "\e920";
}
.p-icon-three-scrolls:before {
  content: "\e921";
}
.p-icon-two-curved-arrows:before {
  content: "\e222";
}
.p-icon-two-squares:before {
  content: "\e923";
}
.p-icon-up-down-triangles:before {
  content: "\e924";
}
.p-icon-up-down-arrows:before {
  content: "\e926";
}
.p-icon-star-half:before {
  content: "\e927";
}
.p-icon-person-half:before {
  content: "\e928";
}
.p-icon-star-empty:before {
  content: "\e929";
}
.p-icon-person-empty:before {
  content: "\e92a";
}
.p-icon-badge:before {
  content: "\e92b";
}
.p-icon-hat:before {
  content: "\e92c";
}
.p-icon-checkmark:before {
  content: "\e913";
}
.p-icon-sun:before {
  content: "\e914";
}
.p-icon-hourglass:before {
  content: "\e91e";
}
.p-icon-play:before {
  content: "\e922";
}
.p-icon-pause:before {
  content: "\e925";
}
.p-icon-globe:before {
  content: "\e92d";
}
.p-icon-add:before {
  content: "\e92e";
}
.p-icon-two-squares-one-line:before {
  content: "\e92f";
}
.p-icon-bookmark:before {
  content: "\e930";
}
.p-icon-action:before {
  content: "\e931";
}
.p-icon-linkedin:before {
  content: "\e932";
}
.p-icon-seek:before {
  content: "\e933";
}
.p-icon-up-arrow-bar:before {
  content: "\e934";
}
.p-icon-type:before {
  content: "\e935";
}
.p-icon-link:before {
  content: "\e936";
}
.p-icon-print:before {
  content: "\e937";
}
.p-icon-alert-error:before {
  content: "\e938";
}
.p-icon-resume:before {
  content: "\e939";
}
.p-icon-pdf:before {
  content: "\e93a";
}
.p-icon-unlock:before {
  content: "\e93b";
}
.p-icon-up-cursor:before {
  content: "\e93c";
}
.p-icon-down-cursor:before {
  content: "\e93d";
}
