/*include-file: Banner-GenericSquare.css*/
/*version: 1.01*/
.GenericSquareBannerWrapper {	height: 0px;	padding-top: calc(350/1200 * 100%);	margin:auto;	position: relative;	width: 100%;}
.GenericSquareBannerContentWrapper {	position: absolute;	top: 0px;	left: 0px;	width: 100%;	bottom: 0px; }
.TransparentBackground-CTA.GenericSquareBannerContentWrapper {	background-color: var(--main-primary-color, #193059);}
.SolidBackground-CTA.GenericSquareBannerContentWrapper {	background-color: var(--main-secondary-color, #fff);}
.GenericSquareMainBanner {	margin-left: 60%;	width: 40%;	position: absolute;	top: 0px;	left: 0px;	background-size: cover;	background-position: 95% 100%;	background-image: url('https://scfiles.csod.com/labs/widgets/Recruiter-Banner-Image-BW.jpg');	background-color: #fff;	height: 100%;	background-repeat: no-repeat; }
.GenericSquareMainBannerGradient { 	margin-left: 60%;	width: 40%;	top: 0;	height: 100%;	bottom: 0;	z-index: 1;	position: absolute;	left: 0px;
	/* background: rgba(73,155,234,1); */
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.73) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,0.73)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.73) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.73) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,0.73) 100%);
	background: linear-gradient(to right, rgba(44, 86, 127, 1) 0%, rgba(32,124,229,0.27) 100%);
}
.GenericSquareBannerContentContainer {	padding-top: calc(.1 * 100%); /*6vw;*/	position: absolute;	margin-left: 10%;	z-index: 2;}
.showProfilePicture .GenericSquareBannerContentContainer {	margin-left: 3%;}
.Genericctd-welcome-message {	display: inline-block;	margin: 0px;	padding: 0px;}
.Genericctd-welcome-message h1{	font-family: "arial", "sans-serif";	font-weight: 600;	font-size: 36pt; /*3.3vw;*/	margin: 0px;	/*margin-top: 50px; 4vw;*/}
.Genericctd-welcome-message h2{	font-family: "arial", "sans-serif";	font-weight: 500;	font-size: 22pt; /*2vw;*/	margin: 0px;	margin-top: 8px;	padding:0px;	margin-bottom: 32px; /*2.5vw;*/}
.TransparentBackground-CTA #CTA {	width: 175px;	height: 43px;	border-radius: 10px;	position: relative;	text-align: center;	line-height: 40px;	text-decoration: none;	font-family: "Roboto", "open-sans", "sans-serif";	text-decoration: none;	font-size: 16px;	font-weight: 400;	color: #fff;	border: 3px solid #fff;	display: block;}
.SolidBackground-CTA #CTA {	width: 152px; /*12vw;*/	padding: 12.5px; /*1vw;*/	border-radius: 10px;	position: relative;	text-align: center;	text-decoration: none;	font-family: "Roboto", "open-sans", "sans-serif";	text-decoration: none;	font-size: 15px; /*1.2vw;*/	font-weight: 400;	display: block;	margin-bottom: 10px;}
.SolidBackground-CTA #CTA:hover {	cursor: pointer;	background-color: var(--main-secondary-color, #fff);	box-shadow: 0 0 10px var(--main-secondary-color, #fff);	color: var(--main-primary-color, #193059);}
#ProfileImageWrapper {    display: none;}
.ProfileImageContainer:hover {    -webkit-box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);    -moz-box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);    box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);    -webkit-transition: .25s ease-in-out;    -moz-transition: .25s ease-in-out;    -ms-transition: .25s ease-in-out;    -o-transition: .25s ease-in-out;    transition: .25s ease-in-out;}
.ProfileImageContainer {    height: 120px;    width: 120px;    background-size: 101%;    background-repeat: no-repeat;    background-image: url(https://scfiles.csod.com/dbenson/Images/EmployeeWelcomePageTemplate/User.png);    overflow: hidden;    border-radius: 50%;    text-align: left;    cursor: pointer;}
.centerText {	margin: auto;	text-align: center;	width: 100%;}
.centerText a {	margin: auto;}
.centerText .GenericSquareBannerContentContainer {	margin: auto;	width: 100%;}
.showProfilePicture .Genericctd-welcome-message {	margin-left: 42px;}
.showProfilePicture #CTA {	margin-left: 26%;}
.showProfilePicture #GenericSquareBannerContentContainer {	margin-left: 0px;}
.showProfilePicture .GenericSquareBannerContentContainer {	padding-top: calc(.07* 100%);}
.showProfilePicture #ProfileImageWrapper {	display: inline-block;}

@media screen and (max-width: 1150px) {
	.GenericSquareBannerContentContainer {    		padding-top: calc(.05 * 100%);    	}
	.TransparentBackground-CTA #CTA {		font-size: 14.5px;	}
	.Genericctd-welcome-message h1 {		font-size: 33px;	}
	.Genericctd-welcome-message h2 {		font-size: 20px;	}
	.showProfilePicture #ProfileImageWrapper {		width: 80px;	}
	.showProfilePicture .GenericSquareBannerContentContainer {	padding-top: 5vw;	}
	.showProfilePicture #CTA {		margin-left: 123px;	}
	.showProfilePicture h2 {		margin-bottom: 1.5vw;	}
	.ProfileImageContainer {		height: 80px;		width: 80px;	}
}
@media screen and (max-width: 750px) {
	.GenericSquareMainBannerGradient, .GenericSquareMainBanner {		margin-left: 0px;		width: 100%;		bottom: unset;		height: 50%;	}
	.GenericSquareBannerContentContainer {		width: 100%;    		margin-left: 0px;	}
	.GenericSquareBannerContentWrapper {		top: 50%;		height: 50%;		bottom: unset;	}
	.GenericSquareBannerWrapper {		padding-top: calc(540/375 * 100%);	}
	.Genericctd-welcome-message h1 {		font-size: 8.5vw;	}
	.Genericctd-welcome-message h2{		font-size: 5vw;	}
	.SolidBackground-CTA #CTA,.TransparentBackground-CTA #CTA {		width: 32vw;		font-size: 3vw;		margin-top: 5vw !important;		margin: auto;	}
	.Genericctd-welcome-message {		padding-top: 5vw;		text-align: center;		width: 100%;		margin-left: unset !important;		margin: auto;	}
	.showProfilePicture .Genericctd-welcome-message {		padding-top: 1vw;	}
	.showProfilePicture .GenericSquareBannerContentContainer {		padding-top: 5vw;	}
	.showProfilePicture #ProfileImageWrapper {		display: block;		margin: auto;}
}
