/*include-file: Banner-DanIC.css*/
/*version: 1.01*/
/*BANNER SECTION START */

/*Section Divider for banner controls height */
.BannerWrapper{
	/*max-width:1200px;*/
	height: 212px;
	margin:auto;
	position: relative;
}
    /*Main Banner Gradient*/
.ICMainBannerGradient {
	height: 100%;
	position: absolute;
	right: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
	background: rgba(25,48,89,1);
	background: -moz-linear-gradient(left, rgba(25,48,89,1) 29%, rgba(25,48,89,0.6) 100%);
	background: -webkit-gradient(left top, right top, color-stop(29%, rgba(25,48,89,1)), color-stop(100%, rgba(25,48,89,0.6)));
	background: -webkit-linear-gradient(left, rgba(25,48,89,1) 29%, rgba(25,48,89,0.6) 100%);
	background: -o-linear-gradient(left, rgba(25,48,89,1) 29%, rgba(25,48,89,0.6) 100%);
	background: -ms-linear-gradient(left, rgba(25,48,89,1) 29%, rgba(25,48,89,0.6) 100%);
	background: linear-gradient(to right, rgba(25,48,89,1) 29%, rgba(25,48,89,0.6) 100%);
}
.MainBanner {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	text-align: left;
	background-position: 101% 13%;
	background-size: 82%;
	background-image: url('https://scfiles.csod.com/jkaylen/widgets/TeamBG.jpg');
	background-color: #193059;
}

#ProfileImageWrapper {
	margin-left: 8%;
	margin-top: 30px;
	display: inline-block;
	position: relative;
	z-index: 5;
}

.ProfileImageContainer {
	height: 138px;
	width: 138px;
	background-size: 101%;
	background-repeat: no-repeat;
	background-image:url("https://scfiles.csod.com/dbenson/Images/EmployeeWelcomePageTemplate/User.png");
	overflow: hidden;
	border-radius: 50%;
	text-align: left;
	cursor: pointer;
}

.ProfileImageContainer:hover {
	-webkit-box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);
	-moz-box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);
	box-shadow: 3px 1px 10px 1px rgba(255,255,255,1);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.ctd-welcome-message {
	position: absolute;
	display: inline-block;
	color: #fff;
	margin: 0px;
	margin-left: 42px;
	padding: 0px;
	z-index: 10;
}

.ctd-welcome-message h1{
	font-family: "arial", "sans-serif";
	font-weight: 600;
	font-size: 36pt;
	margin: 0px;
	margin-top: 57px;
}

.ctd-welcome-message h2{
	color: #fff;
	font-family: "arial", "sans-serif";
	font-weight: 500;
	font-size: 22pt;
	margin: 0px;
	margin-top: 8px;
	padding:0px;
}

#ArrowImage {
	position: absolute;
	display: inline-block;
	margin-left: 507px;
	margin-top: 19px;
	-ms-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	transform: rotate(-8deg);
	z-index: 10;
}

#MainBannerCTA {
	width: 175px;
	height: 43px;
	border-radius: 10px;
	position: absolute;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	margin-left: 621px;
	margin-top: 110px;
	font-family: "arial", "sans-serif";
	text-decoration: none;
	font-size: 16px;
	font-weight:400;
	color: #fff;
	border: 3px solid #fff;
	z-index: 10;
}

#MainBannerCTA:hover {
	cursor: pointer;
	background-color: #fff;
	color: #193059;
}

/*BANNER SECTION END */

/*START RESPONSIVE CODE*/

@media screen and (max-width: 1262px) {
	.MainBanner {
		background-size: cover !important;
	}
	.BannerWrapper {
		height:270px;
	}

	#MainBannerCTA {
		width: 115px;
		height: 30px;
		display: block;
		position: relative;
		text-align: center;
		line-height: 30px;
		margin: auto;
		margin-top: 19px;
		font-size: 12px;
	}

	/*Remove arrow image*/
	#ArrowImage {
		display:none;
	}

	/*Make profile image container full width*/
	#ProfileImageWrapper {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		width: 100%;
	}

	/*Align profile image to center and make smaller*/
	.ProfileImageContainer {
		height: 80px;
		width: 80px;
		background-size: 101%;
		background-repeat: no-repeat;
		overflow: hidden;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		margin: auto;
	}

	/*Make header container full width and reset left margin, align center*/
	.ctd-welcome-message {
		margin-left: 0px;
		padding: 0px;
		text-align: center;
		width: 100%;
		display:block;
		position: relative;
	}

	.ctd-welcome-message h1 {
		font-size: 24pt;
		margin-top: 8px;
	}

	.ctd-welcome-message h2{
		font-size: 14pt;
	}
}


/*END RESPONSIVE CODE*/
