/*include-file: StandardWidgets.css*/
/*version: 1.01*/
table .CsList th, table .CsList_th, .columnHeaderLinkText {	background: #fff;	color:#6b6c6e;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-size: 14px;	font-weight: 100;}
.Panel_contentMiddle th { background-color: transparent; }
a {	font-weight: 100; }
/*Added 5/9 for background video & gradient */
body { background-attachment: fixed; background-size: cover; background-repeat: no-repeat; }
.vidBackground { position: fixed; top: 50%; left: 50%;  min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); background-size: cover;  transition: 1s opacity;  display: none; /* Prevents display in CSOD Page Builder. Inline CSS changes back to block */ }
.BackgroundBannerGradient { position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -90;  transform: translateX(-50%) translateY(-50%); background-size: cover; transition: 1s opacity; }
th {    height: 100%;    width: 100%;    background-color: #eeefef;    color: #6b6c6e; }
.CsList tbody tr:hover td { background-color: #fff; }
.Panel_titleMiddle {	text-align: left;	height: 40px;	background-color: var(--main-primary-color, #f4f5f6) !important;}
.Panel_titleMiddle h2 {	display: inline;	text-transform: uppercase;	padding-left: 25px !important;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-weight: 600;	font-size: 12pt !important;	border-bottom: none !important;	color: var(--main-secondary-color, white) !important; }
.Panel_titleMiddle img, .Panel_titleMiddle span, .Panel_titleRight, .Panel_titleLeft{ display: none; }
.Panel_contentMiddle {	background-color: #fff;	padding: 0px 20px 0px 20px;}
[id$='_pnlActionItems_content']{	height:40px; }
[id$='_pnlActionItems_content'] tbody tr td{	line-height: 20px;}
.Panel_titleMiddle .titleLink {	text-align: left; }
.titleLink h2 {	padding-left: 25px !important;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-weight: 600;	font-size: 12pt !important;}
.CsList td, .FieldValue, .CsLinkButton, .Panel_contentMiddle > span {	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-size: 12pt;	color: #6e6e6e;}
.error {	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-size: 12pt;}
.Cslist td a { color: #5d84ab;  text-decoration: underline; }
[id$='_pnlActionItems_content'] tbody tr td { line-height: 20px; }
[id$="lbTitle"] {	text-decoration:none;}
[id$="lbTitle"]:hover {	text-decoration:underline }
#ctl00_ContentPlaceHolder1_widgetLayout_rptWidgets_ctl01_widgetContainer_ctl00_rptActionItems_ctl01_lbDueDate {	text-decoration:none; }
.CsList td span {	color: #6b6c6e;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	font-size: 12pt;}
.CsList th {	color: #6b6c6e;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif"; }
/* START-Your Inbox */
a.link {	font-size: 12pt;	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";	text-decoration: none;	font-weight: 100; }
a.link:hover {	text-decoration: underline; }
/*START Social Feed*/
[id$='pnlSalesForceChatter_content'] > tbody > tr > td:nth-child(2) { background-color: var(--main-neutral-color) !important; }
[id$='pnlSalesForceChatter_titleMiddle'] {	background-color: var(--main-neutral-color) !important;	color: #000000 !important;	font-family: Arial !important;}
[id$='pnlSalesForceChatter_titleMiddle'] > h2 {	color: var(--main-primary-color,#000) !important; }
.csod-sf-fw {	background-color: #FFFFFF;	max-height: 450px;	overflow: auto;	overflow-x: hidden;	font-family: "roboto", "Helvetica Neue", Helvetica, Arial, Sans-Serif;}
.csod-sf-fw > table > tbody > tr{	border-bottom: 10px solid #eaeaea; }
.csod-sf-wplist-img {	width: 85px; padding: 11px 22px 8px 22px; }
.csod-sf-segtype-link:hover {	text-decoration: underline; }
.csod-sf-wplist-c {	text-decoration: underline; }
.csod-sf-wplist .isBroadcast {	background-color: #fff;}
/*End Social Feed*/
@media screen and (max-width: 1262px) {
	[id$='pnlActionItems_content'] tbody tr td { font-size: 12px; }
	table .CsList th, table .CsList_th { font-size: 12px !important; }
	table .CsList th { font-size: 12px;	}
	a.link {	font-size: 12px;}
	a[id$="rptNewUi_ct"] { font-size: 12px; }
	.CsList td,.FieldValue, .CsLinkButton, .Panel_contentMiddle > span {font-size: 12px; }
	.CsList td span { font-size: 12px;}
}

@media screen and (max-width: 570px) { 	.Panel_footer {		height: auto !important;	} }

.tblRow .CsLinkButton {	font-weight: initial; }
